@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap');

body { font-family: 'Quicksand', sans-serif;}

.footer {
    background-color: #0f1116;
    margin-bottom: 10px;
    margin-top: 50px;
}
.footer-container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
.footer .footer-container .text {
    color: white;
    padding: 20px;
    font-size: 14px;

}
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
  }

  .flip-card-back .content-flip-card-back {
    padding-top: 40%;
    width: 90%;
    margin: 0 auto;
  }

  .flip-card-back .content-flip-card-back .text:nth-child(1) {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 10px;
  }
.topbar {
    padding: 20px 0;
}
.topbar .container-topbar {
    display: grid;
    grid-template-columns: 30% 70%;
    width: 95%;
    margin: 0 auto;
}

.topbar .container-topbar .container-logo,
.topbar .container-topbar .container-logo .logo {
    display: inline-block;
}
.topbar .container-topbar .container-logo .logo {
    font-weight: 500;
    font-size: 16px;
}
.topbar .container-topbar .container-logo .logo:nth-child(2) {
    color:#f76052;
}
.topbar .navbar {
    text-align: right;
}
.topbar .navbar .list .item {
    display: inline-block;
}
.topbar .navbar .list .item .link{
    text-decoration: none;
    color:#f76052;
    font-weight: 500;
    padding: 5px;
    font-size: 14px;
}
.topbar .navbar .list .item .link:hover {
    background-color: #f76052;
    color: #fff;   
}

.content-banner {
    margin-top: 20px;
}
.content-banner .container-banner {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 100%;
}
.content-banner .container-banner .img-background {
    visibility: visible;
    background-repeat: no-repeat;
}
.content-banner .container-banner .img-background .img-back {    
    height: auto;
    max-width: 100%;
    background-size: contain;
}
.content-banner .container-banner .container-text-main {
    width: 100%;  
}
.content-banner .container-banner .container-text-main .text-main {
    text-align: center;

}

.content-banner .container-banner .container-text-main .title-text-main {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}
.content-banner .container-banner .container-text-main  .content-secundary {
    margin-top: 20px;
}
.content-banner .container-banner .container-text-main .content-text-secundary {
    display: inline-block;
    font-size: 16px;
}

.content-banner .container-banner .container-text-main  .text-pink {
    color: #f76052;
    
}

h4::after {
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
  }

  @keyframes pisca {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }


  /*container home work */
  .home-work {
      background-color: #f5f7f8;
      min-height: 100vh;
      padding-top: 40px;
  }

  .home-work .container-home-work {
    width: 90%;
    margin: 0 auto;
  }

  .home-work .container-home-work .text-home-work {
      margin-bottom: 30px;
  }
  .home-work .container-home-work .text-home-work .text {
      text-align: center;
  }
  .home-work .container-home-work .text-home-work .text:nth-child(1){
      font-size: 16px; 
      margin-bottom: 10px;
      color: #f76052;
      font-weight: 500;
      text-transform: uppercase;     
  }
  .home-work .container-home-work .text-home-work .text:nth-child(2){
    font-size: 16px;
    line-height: 22px; 
    font-weight: 500;     
}

  /*fim container home work*/

  /*inicio section images*/
  .home-work .container-home-work .container-projects {
      margin-top: 40px;
        display: flex; 
        width: 100%;
        justify-content: center;
        align-content: center;   
        align-content: space-around;
        align-items: center;
  }
  .home-work .container-home-work .container-projects .project {
    flex: 1;   
    align-items: center;
    align-content: space-around;
  }
   /*fim section images*/

   .home-work .container-home-work .container-projects .project a img {
       width: 100%;
   }
   .home-work .container-home-work .container-projects .project:hover {
       background-color: red;
   }

   .portfolio-grid {
    display: grid;
    gap:2em;
    justify-items: center;
}

.portfolio-grid figure {
    text-align: center;
}
.img-portfolio {
    width: 300px;
    height: auto;
    object-fit: contain;
}


/*inicio about me */
.about-me .container-about-me {
    width: 90%;
    margin: 0 auto; 
}
.about-me .container-about-me .text-about-me .text {
    text-align: center;
}
.about-me .container-about-me .text-about-me .text:nth-child(1) {
    font-size: 16px; 
    margin-bottom: 10px;
    color: #f76052;
    font-weight: 500;
    text-transform: uppercase;    
}
.about-me .container-about-me .text-about-me .text:nth-child(2) {
    font-size: 16px;
    line-height: 26px; 
    margin-bottom: 40px; 
}
/*fim about me */
.contact-me .container-contact-me {
    width: 90%;
    margin: 0 auto; 
}
.contact-me .container-contact-me .text-contact-me {
    text-align: center;
    margin-top: 40px;
}
.contact-me .container-contact-me .text-contact-me .text:nth-child(1){
    font-size: 16px; 
    margin-bottom: 10px;
    color: #f76052;
    font-weight: 500;
    text-transform: uppercase; 

}

@media(min-width:750px) {
    .topbar .container-topbar {
        grid-template-columns: 50% 50%;
        width: 90%;
    }
    
    .topbar .container-topbar .container-logo .logo {
        font-size: 22px;
    }

    .topbar .navbar .list .item .link{
        padding: 20px;
        font-size: 18px;
    }
    .topbar .navbar .list .item .link:hover {
        background-color: #f76052;
        color: #fff;
        
    }
    
    .content-banner {
        height: 100vh;
    }
    .content-banner .container-banner {
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .content-banner .container-banner .img-background {
        visibility: visible;
        background-image: url('../imgs/img-banner.jpeg');
        background-repeat: no-repeat;
        height: 100vh;
    }

    .content-banner .container-banner .container-text-main {
        display: table;
        width: 100%;
        height: 70vh;
    
    }
    .content-banner .container-banner .container-text-main .text-main {
        display: table-cell;
        vertical-align: middle;
        text-align: left;
    }

    .content-banner .container-banner .container-text-main .title-text-main {
        font-size: 46px;
        font-weight: 700;
        text-align: left;
    }
    .content-banner .container-banner .container-text-main  .content-secundary {
        margin-top: 20px;
    }
    .content-banner .container-banner .container-text-main .content-text-secundary {
        display: inline-block;
        font-size: 24px;
    }

    .content-banner .container-banner .container-text-main  .text-pink {
        color: #f76052;
        
    }
    /*container home work */
    .about-me {
        padding-bottom: 60px;
    } 
    .home-work {
        padding-top: 60px;
    } 

    .home-work .container-home-work .text-home-work .text:nth-child(1){
        font-size: 20px;
        margin-bottom: 20px; 
    }
    .home-work .container-home-work .text-home-work .text:nth-child(2){
        font-size: 18px; 
    }

    .portfolio-grid {
        display: grid;
        gap:2em;
        justify-items: center;
    }

    .img-port {
        width: 260px;
        height: 180px;
    }

    .portfolio-grid {
        display: grid;
        gap:2em;
        justify-content: center;
        grid-template-columns: 33.3% 33.3% 33.3%;
    }
    
    .portfolio-grid figure {
        text-align: center;
    }
    .img-portfolio {
        width: 300px;
        height: auto;
        object-fit: contain;
    }
    
    .contact-me .container-contact-me .text-contact-me .text:nth-child(1){
        font-size: 20px;
        margin-bottom: 20px; 
        line-height: 30px;
    }
    
    /*fim container home work*/
    .about-me .container-about-me .text-about-me .text:nth-child(1) {
        font-size: 20px;
        margin-bottom: 20px; 
        line-height: 30px;
    }
    .about-me .container-about-me .text-about-me .text:nth-child(2) {
        text-align: justify;
        font-size: 18px;
        margin-bottom: 20px;
    }

    .flip-card {
        background-color: transparent;
        width: 300px;
        height: 300px;
        perspective: 1000px;
      }
      
      .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      }
      
      .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
      }
      
      .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }
      
      .flip-card-front {
        background-color: #bbb;
        color: black;
      }
      
      .flip-card-back {
        background-color: #2980b9;
        color: white;
        transform: rotateY(180deg);
      }
      .footer {
        margin-bottom: 0;
    }
   
    .footer .footer-container .text {
        font-size: 16px;
    
    }
}

